<%= form_for(@timesheet) do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @timesheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :team_size %><br>
    <%= f.number_field :team_size %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :submition %><br>
    <%= f.date_select :submition %>
=======
    <%= f.label :ProjectName %><br>
    <%= f.text_field :ProjectName %>
  </div>
  <div class="field">
    <%= f.label :TeamSize %><br>
    <%= f.number_field :TeamSize %>
  </div>
  <div class="field">
    <%= f.label :Technology %><br>
    <%= f.text_field :Technology %>
>>>>>>> 763d613b6a3792ef91bfb3e536c03ae816a17de6
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
