<p id="notice"><%= notice %></p>

<h1>Listing Timesheets</h1>

<table>
  <thead>
    <tr>
      <th>Projectname</th>
      <th>Teamsize</th>
      <th>Technology</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.ProjectName %></td>
        <td><%= timesheet.TeamSize %></td>
        <td><%= timesheet.Technology %></td>
        <td><%= link_to 'Show', timesheet %></td>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
        <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timesheet', new_timesheet_path %>
