<<<<<<< HEAD

<p>
  <strong>Project name:</strong>
  <%= @timesheet.project_name %>
</p>

<p>
  <strong>Team size:</strong>
  <%= @timesheet.team_size %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @timesheet.duration %>
</p>

<p>
  <strong>Submition:</strong>
  <%= @timesheet.submition %>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Projectname:</strong>
  <%= @timesheet.ProjectName %>
</p>

<p>
  <strong>Teamsize:</strong>
  <%= @timesheet.TeamSize %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @timesheet.Technology %>
>>>>>>> 763d613b6a3792ef91bfb3e536c03ae816a17de6
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
